.nav a {
  color: #F0FFFF;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 14px 20px;
  text-transform: uppercase;
  font-family: Impact, Charcoal, sans-serif;
  text-decoration: none;

}
a:hover {
  color: #CFEBFD;
}

.nav img {
  position: absolute;
  padding-left: 413px;
  top: 100px;
  padding-bottom: -300px;


}
.pull-left {
  color: #F0FFFF;
  font-size: 40px;
  padding: 14px 10px;
  font-family: Impact, Charcoal, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
}

.nav li {
  display: inline;
  padding-top: 20px;
}

.nav {
  background-color: #87CEFA;
  height: 100px;
}

.jumbotron {
  background-image:url('http://hd-wall-papers.com/images/wallpapers/blue-geometric-wallpaper/blue-geometric-wallpaper-25.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:250px;
  border: 3px solid #ffffff;
  padding: 23px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 65px;  
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
}

.jumbotron p {
  font-size: 25px;
  color: #fff;
}

.jumbotron a{
  color: #00FFFF;
}

.learn-more {
  background-color: #f7f7f7;
}
.learn-more h4 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
  font-weight: bold;

}
.learn-more h3 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
}


.col-md-2 p{
  padding-left: 24px;
  font-weight: bold;
}

.about-me {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.about-me h2 {
    font-family: Impact, Charcoal, sans-serif;
    color: #393c3d;
    font-size: 24px;
}

.about-me p {
    font-size: 15px;
    margin-bottom: 13px;
}
.thumbnail img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.thumbnail img:hover{
 opacity: 1.0;
 filter: alpha(opacity=100);
}  

.thumbnail {
  position:relative;
  width: 100%;
}

#trophy {
  position: absolute; 
  top: 75px; 
  left: 75px; 
  right: 0px;
  width: 100%;
  text-transform: uppercase;
} 
#projects{
  position: absolute; 
  top: 75px; 
  left: 105px; 
  right: 0px;
  width: 100%;
  text-transform: uppercase;
} 
#goals{
  position: absolute; 
  top: 75px; 
  left: 110px; 
  right: 0px;
  width: 100%;
  text-transform: uppercase;
} 
#pictures {
  position: absolute; 
  top: 75px; 
  left: 105px; 
  right: 0px;
  width: 100%;
  text-transform: uppercase;
} 
#music {
  position: absolute; 
  top: 160px; 
  left: 155px; 
  right: 0px;
  width: 100%;
  text-transform: uppercase;
} 
.thumbnail span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.footer {
  height: 25px;
}
